/* App */

#app{
  width: 100vw;
  display: flex;
  background: #222f3e;
}

/* Sidebar */
.sidebar{
  width: 30%;
  height: 100vh;
  background: #eee;
}

.sidebar-wrapper{
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding-top: 5px;
}

/* Sidebar: Header */
.sidebar-cta>i{
  color: #ccc;
  padding-right: 3px;
}

.sidebar-cta>i:nth-child(1){
  color: rgb(212, 54, 54);
}

.sidebar-cta>i:nth-child(2){
  color: rgb(196, 166, 67);
}

.sidebar-cta>i:nth-child(3){
  color: rgb(92, 187, 92);
}

.sidebar-add-item>.add-item{
  width: 100%;
  background: #ccc;
  opacity: 0.5;
  border: 0;
  padding: 5px;
  border-radius: 3px;
  outline: none;
  transition: opacity 0.3s;
}

.sidebar-add-item>.add-item:hover,
.sidebar-add-item>.add-item:focus{
  opacity: 0.8;
}

/* Sidebar: Nav */
.main-nav{
  height: 100%;
}


/* Main Content */
.main-content{
  flex-grow: 1;
  background: #fff;
}

.content-wrapper{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 15px;
  justify-content: space-between;
}
/* Main Content: Header */
.content-header{
  height: 10%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title>h1{
  color: #F9A35C;
  font-weight: 400;
  font-size: 2em;
}

.buttons{
  display: flex;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-weight: 300;
  padding: 0 15px;
  color: #777;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(160, 153, 153, 0.3);
  box-shadow: 0 0 5px rgba(68, 68, 68, 0.3);
  cursor: pointer;
  opacity: 0.7;
}

.button:hover,
.button:focus{
  opacity: 1;
  color: black;
}

/* Main Content: TODO LIST */
.todo-list{
  flex-grow: 1;
}

.item{
  display: flex;
  align-items: center;
  color: #444;
  font-size: 0.8rem;
  padding: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.item:last-child{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item > i{
  font-size: 1rem;
  color: #ccc;
  padding-right: 10px;
}

.item > i:hover{
  color: #F9A35C;
}

.template{
  display: none;
}