/* General Rules */


/* Utility */
.box{
  height: 40px;
  width: 40px;
}

.red{
background: red;
}

.blue{
background: blue;
}

.yellow{
background: yellow;
}

.green{
background: green;
}

/* App */
